.FormContainer{
    --font-size: 20px;
    box-sizing: border-box;
    padding: 4rem;
    border: 1px solid black;
    box-shadow: 2px grey;
}

.FormControl{
    margin-bottom: 1.5rem;
}

.FormControl div input,.FormControl div label{
    font-size: var(--font-size);
}

.FormControl p{
    font-size: calc(var(--font-size)/1.5);
    margin-top: 0px;
}