.aside-mini{
    box-sizing: content-box;
    height: 100vh;
    width: 40px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
    background:#333;
    color: #fff;
    /* transition-property: all;
    transition-duration: 0.7s; */
}

.aside-backtop{
    /* visibility: hidden; */
    display: none;
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 40px;
    height:50px;
    margin:0px;
    text-align: center;
    background:#333;
    color: #fff;
}

.aside-backtop p{
    margin-top: 0px;
}

.aside-list{
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 300px;
    top: 80px;
    left:0px;
    list-style-type: none;
}

.aside-list .aside-item{
    position: relative;
    left:-40px;
    box-sizing: border-box;
    height: 50px;
    height:40px;
    background-color:#333;
}

.aside-item-container{
    width: 40px;
    height:50px;
    background: #333;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.aside-item-container svg.aside-icon{
    color: white;
    display:block;
    height: 24px;
    width: 24px;
}

.aside-item-floating{
    visibility: hidden;
    box-sizing: border-box;
    height: 50px;
    background: white;
    color:black;    
    position:absolute;
    top: 0px;
    right:0;
    display: flex;
    justify-content: space-around;
    align-items:center;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    transition-property: all;
    /* transition-delay: 400ms;  */
    transition-duration: 400ms;  
    transition-timing-function: ease-in;
}


.aside-item-floating a{
    color:black;
}

.aside-cart .aside-item-floating{
    width: 92px;
}

.aside-coupons .aside-item-floating, .aside-wish .aside-item-floating{
    width: 115px;
}

.aside-mini:hover{
    right: 0px;
}

.aside-backtop:hover{
    color:crimson;
}

.aside-item-container:hover svg.aside-icon{
    color: crimson;    
}

.aside-item-container:hover + .aside-item-floating{
    visibility: visible;
}

.aside-item-floating a:hover{
    color:crimson;
}


@media screen and (max-width: 999px){
    .aside-mini{
        right:-40px;
        border-left: 4px solid #333;
    }

    .aside-backtop{
        left:-40px;
    }
    
    .aside-mini:hover .aside-backtop,.aside-mini:hover .aside-cart{
        left: 0px;  
    }

    .aside-cart{
        /* left: -40px;        */
        transform: translateX(-40px);
        transform-origin: left;
    }
    

    
    

}

a{
    text-decoration: none;
}
