.cart-main{
    position: relative;
    width: 100vw;
    padding: auto;
    background-color: #ededed;
}

.cart-fixed{
    box-sizing: border-box;
}
.cart-fixed-bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 500;
    background-color: white;
}

.list-main{
    margin: 0px 0px 20px;
}

.cart-list{
    width: 1190px;
    margin: auto;
}


.shop-wrapper{
    display: block;
}


.list-head{
    height: 60px;
    padding: 0px 20px;
    background-color: crimson;
}

.shop-item{
    box-sizing: border-box;
    height: 65px;
    font-size:12px;
    padding: 30px 0px 10px 20px;
    /* background-color: greenyellow; */
}

.shop-main{
    background-color: white;
}

.shop,.shop label{
    height: 20px;
    width:500px;
}

.shop input, .shop div{
    display: inline-block;
    box-sizing: border-box;
    padding: 0px;
    vertical-align: center;
}

.shop input{
    width:15px;
    height: 15px;
    padding: 0px;
    border: 1px solid #d7d7d7;
    border-radius: 100%;
}

.shop p{
    padding: 0px;
    margin: auto;
}


.product-item{
    display: block;
}

.cell{
    display: inline-block;
    /* float: left; */
}

.img-container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80px;
    height: 80px;
}

.img-container img{
    width: 100%;
    height: 100%;
}
.img-soldout{
    position:absolute;
}

.cart-total{
    position: relative;
    box-sizing: border-box;
    width: 1190px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;    
    background-color: skyblue;
}

.cart-total label,.cart-total input, .cart-total span, em{
    box-sizing: border-box;
    display: inline-block;
}

.cart-total .label-input{
    box-sizing: border-box;
    margin-left:20px;
    margin-right:70px;
}

.cart-total .delete-selected-item{
    box-sizing: border-box;
    width: 200px;
    height:37px;
    margin-right: 20px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    border: 1px solid black;
}

.clear-cart{
    box-sizing: border-box;
    height: 37px;
    width: 152px;
    margin-right: 83px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
.cart-total-price{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
    margin-left: 20px;
}

.checkout-btn{
    box-sizing: border-box;
    height: 100%;
    width: 130px;
    background-color: hotpink;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0px;
}

