.NavigationItems {
    margin: auto;
    padding: auto;
    padding-inline-start: 0px;
    list-style: none;
    display: flex;
    /* flex-flow: column; */
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 100%;
}

/* @media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
} */