.formContainer{
    --main-font-size: 18px;
    font-size: var(--main-font-size);
    box-sizing: border-box;
    padding: 4rem;
    border: 1px solid black;
    box-shadow: 2px grey;
}

.formContainer h1{
    margin-top: 0px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.formContainer a{
    box-sizing: border-box;
    display: block;
    margin-top: -21px;
    font-size: calc(var(--main-font-size)*0.7);
    text-align: right;
    color: #008cff;
    text-decoration: none;
}

.Form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FormControl{
    width: 50vw;
    max-width: 300px;
    margin-bottom: 1.5rem;
}

.FormControl:last-child{
    margin-bottom: 0px;
}

.Label{
    box-sizing: border-box;
    display: block;
    font-size: var(--main-font-size);
}

.FormControl input{
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: var(--main-font-size);
}


.FormControl button{
    font-size: calc(var(--main-font-size)*0.8); 
}

