.carousel {
    position: relative;
    box-sizing: border-box;
}

.carousel-inner{
    display: block;
    position: relative;
    width: 500px;
    /* height: 400px; */
    overflow: hidden;
}

.carousel-item{
    display: none;
    position: relative;
    box-sizing: border-box;
    width: 100%; 
    margin-right: -100%; 
    transition: transform 1.5s ease-in-out; 
    overflow: hidden; 
    float: left;
}

.carousel-item.active{
    display: block;
    /* position: relative;
    box-sizing: border-box;
    width: 100%; 
    margin-right: -100%;  */
    /* transform: translateX(100%); */
}

.active.carousel-item-left{
    transform: translateX(-100%);
}

.carousel-item-next{
    display: block;
    transform: translateX(100%);
}

.carousel-item-next.carousel-item-nxt{
    /* transform: translateX(100%); */
}


.carousel-item img{
    width: 100%;
    display: block;
}

.carousel-caption{
    position: absolute;
    bottom: 20px;
    left: 15%;
    right: 15%;
    z-index: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}


.carousel-prev-control {
    position: absolute;
    left: 0;
    top:0;
    width: 15%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.carousel-next-control {
    position: absolute;
    right: 0;
    top:0;
    width: 15%;
    height: 100%;
    z-index: 1000;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.carousel-control-icon{
    color: rgba(255, 255, 255, 0.5);
    height:30px;
    width: 30px;
}

.carousel-prev-control:hover .carousel-control-icon,
.carousel-next-control:hover .carousel-control-icon{
    color: rgba(255, 255, 255, 1);
}


.carousel-indictors{
    position: absolute;
    z-index: 900;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.carousel-indictors li{
    box-sizing: content-box;
    width: 30px;
    height:6px;
    background-color: rgb(255, 255, 255);
    opacity: .5;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.carousel-indictors li.active{
    opacity:1;  
}