.SideDrawerToggle{
   box-sizing: border-box;
   height: 40px;
   width: 40px;
   margin: auto 1rem;
   display: inline-flex;
   justify-content: space-around;
   align-items: center;
   cursor: pointer; 
}