.Showcase{
    box-sizing: border-box;
    width: 80vw;
    margin: auto;
    padding: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
    overflow: hidden;
}

.Showcase > * {
    max-height: 70vw;
}

/* .Cubicle{
    box-sizing: border-box;
    max-height: 500px;
    border: solid 1px gray;
    border-radius: 8px;
}

.Cubicle img{
    width: 100%;
} */